In [1]:
import datetime

In [15]:
print(datetime.datetime.today())
print(type(datetime.datetime.today()))

2022-03-05 15:45:55.404351
<class 'datetime.datetime'>

In [22]:
x = datetime.datetime.today()
print(x.strftime("%A"))
print(x.strftime("%B"))
print(x.strftime("%Y"))
print(x.strftime("%c"))
print(type(x.strftime("%x")))

Saturday
March
2022
Sat Mar  5 15:47:34 2022
<class 'str'>

In [45]:
now = datetime.datetime.today()

one_day_three_hours = datetime.timedelta(days=1, hours=3)

print(now)
print(one_day_three_hours)

print(now - one_day_three_hours)
print(now + one_day_three_hours)

for i in range(1000000):
    pass
now_2 = datetime.datetime.today()
print(now_2 - now)

2022-03-05 15:50:14.872133
1 day, 3:00:00
2022-03-04 12:50:14.872133
2022-03-06 18:50:14.872133
0:00:00.037025

In [47]:
import time

print("hello")

time.sleep(3)

print("bye!")

hello
bye!

In [48]:
import calendar

In [52]:
print(calendar.calendar(2022, w=9, l=1, c=3))

                                                                                                         2022

                               January                                                                 February                                                                 March
  Monday   Tuesday  Wednesday  Thursday   Friday   Saturday   Sunday      Monday   Tuesday  Wednesday  Thursday   Friday   Saturday   Sunday      Monday   Tuesday  Wednesday  Thursday   Friday   Saturday   Sunday
                                                       1         2                     1         2         3         4         5         6                     1         2         3         4         5         6
     3         4         5         6         7         8         9           7         8         9        10        11        12        13           7         8         9        10        11        12        13
    10        11        12        13        14        15        16          14        15        16        17        18        19        20          14        15        16        17        18        19        20
    17        18        19        20        21        22        23          21        22        23        24        25        26        27          21        22        23        24        25        26        27
    24        25        26        27        28        29        30          28                                                                      28        29        30        31
    31

                                April                                                                    May                                                                     June
  Monday   Tuesday  Wednesday  Thursday   Friday   Saturday   Sunday      Monday   Tuesday  Wednesday  Thursday   Friday   Saturday   Sunday      Monday   Tuesday  Wednesday  Thursday   Friday   Saturday   Sunday
                                             1         2         3                                                                       1                               1         2         3         4         5
     4         5         6         7         8         9        10           2         3         4         5         6         7         8           6         7         8         9        10        11        12
    11        12        13        14        15        16        17           9        10        11        12        13        14        15          13        14        15        16        17        18        19
    18        19        20        21        22        23        24          16        17        18        19        20        21        22          20        21        22        23        24        25        26
    25        26        27        28        29        30                    23        24        25        26        27        28        29          27        28        29        30
                                                                            30        31

                                 July                                                                   August                                                                September
  Monday   Tuesday  Wednesday  Thursday   Friday   Saturday   Sunday      Monday   Tuesday  Wednesday  Thursday   Friday   Saturday   Sunday      Monday   Tuesday  Wednesday  Thursday   Friday   Saturday   Sunday
                                             1         2         3           1         2         3         4         5         6         7                                         1         2         3         4
     4         5         6         7         8         9        10           8         9        10        11        12        13        14           5         6         7         8         9        10        11
    11        12        13        14        15        16        17          15        16        17        18        19        20        21          12        13        14        15        16        17        18
    18        19        20        21        22        23        24          22        23        24        25        26        27        28          19        20        21        22        23        24        25
    25        26        27        28        29        30        31          29        30        31                                                  26        27        28        29        30

                               October                                                                 November                                                                December
  Monday   Tuesday  Wednesday  Thursday   Friday   Saturday   Sunday      Monday   Tuesday  Wednesday  Thursday   Friday   Saturday   Sunday      Monday   Tuesday  Wednesday  Thursday   Friday   Saturday   Sunday
                                                       1         2                     1         2         3         4         5         6                                         1         2         3         4
     3         4         5         6         7         8         9           7         8         9        10        11        12        13           5         6         7         8         9        10        11
    10        11        12        13        14        15        16          14        15        16        17        18        19        20          12        13        14        15        16        17        18
    17        18        19        20        21        22        23          21        22        23        24        25        26        27          19        20        21        22        23        24        25
    24        25        26        27        28        29        30          28        29        30                                                  26        27        28        29        30        31
    31